table {
  border-spacing: 0;
  border-collapse: collapse;
}

th,
td,
caption {
  font-family: sans-serif;
  border: 1px solid #000;
}

caption {
  border-bottom: none;
  font-weight: bold;
}

.weekend {
  color: red;
}