.footer {
  background-color: var(--bg-color);
}

.footer__wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 118px;
  margin-top: 140px;
  margin-bottom: 50px;
}

.footer__aside {
  position: absolute;
  top: -240px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 74px;
  border-radius: 20px;
  padding: 36px 64px;
  width: 1240px;
  height: 180px;
  background: var(--secondary-color);
}

.footer__aside-subtitle {
  font-family: var(--second-family);
  font-weight: 900;
  font-size: 40px;
  line-height: 113%;
  color: var(--main-color);
}

.footer__aside-distribution {
  flex: 1;
  text-align: right;
}

.footer__input {
  margin-bottom: 14px;
}

.footer__input-wrap {
  position: relative;
}

.footer__input-wrap::before {
  content: "";
  position: absolute;
  left: 16px;
  top: 41%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url("../../icons/mail.svg");
  pointer-events: none;
}

.footer__input {
  box-sizing: border-box;
}

.footer__input,
.footer__button {
  border-radius: 62px;
  padding: 12px 52px;
  width: 349px;
  height: 48px;
  background: var(--main-color);
}

.footer_button {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  color: var(--secondary-color);
}

.footer__social {
  max-width: 248px;
}

.footer__logo {
  margin-bottom: 25px;
  width: 160px;
  height: 48px;
  font-family: "Integral", sans-serif;
  font-weight: 700;
  font-size: 32px;
  color: var(--secondary-color);
}

.footer__text {
  margin-bottom: 35px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 157%;
  color: rgba(0, 0, 0, 0.6);
}

.footer__wrapper-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1240px;
}

.footer__social-list {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 12px;
}

.footer__social-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  border-radius: 100%;
  background-color: var(--main-color);
  stroke-width: 1px;
  stroke: rgba(0, 0, 0, 0.2);
  position: relative;
}

.footer__social-item:nth-child(2) .footer__social-inner {
  background-color: #000;
}

.footer__social-img {
  display: block;
}

.footer__about-company-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 118px;
}

.footer__about-company,
.footer__company-list {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 26px;
}

.footer__about-company-subtitle {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 113%;
  letter-spacing: 0.19em;
  text-transform: uppercase;
  color: var(--secondary-color);
}

.footer__company-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 119%;
  color: rgba(0, 0, 0, 0.6);
}

.footer__underline {
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 1240px;
  min-width: 358px;
  margin-bottom: 20px;
}

.footer__payment {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 88px;
}

.footer__payment-rights-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  text-align: right;
  color: rgba(0, 0, 0, 0.6);
}

.footer__payment-company {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.footer__payment-company-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 47px;
  height: 30px;
  background-color: var(--main-color);
  border-radius: 5px;
}

@media (width <= 1300px) {
  .footer__aside {
    display: flex;
    justify-content: center;
    align-items: center;
    /* min width 568px max width 1300px */
    width: clamp(358px, -20.4rem + 120.49vw, 1240px);
  }

  .footer__underline {
    /* min-width 358px, max-width 1300px */
    width: clamp(358px, 1.425rem + 93.63vw, 1240px);
  }

  .footer__payment {
    display: flex;
    justify-content: space-around;
    /* min-width 358px, max-width 1300px */
    width: clamp(358px, 1.425rem + 93.63vw, 1240px);
  }

  .footer__wrapper {
    width: 100%;
  }

  .footer__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .footer__about-company-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    gap: 30px;
  }
}

@media (width <= 1190px) {
  .footer__aside-subtitle {
    font-size: 30px;
    line-height: 117%;
  }
}

@media (width <= 1075px) {
  .footer__input,
  .footer__button {
    width: 311px;
    height: 42px;
    font-size: 14px;
  }
}

@media (width <= 992px) {
.footer__wrapper-page {
  flex-wrap: wrap;
  gap: 25px;
}

  .footer__about-company-wrapper {
    flex-wrap: wrap;
    gap: 20px;
  }
}

@media (width <= 788px) {
  .footer__aside {
    position: absolute;
    top: -290px;
    flex-direction: column;
    padding: 32px 37px 28px 24px;
    width: 380px;
    height: 293px;
    gap: 32px;
  }

  .footer__text {
    width: 352px;
  }

  .footer__social {
    margin-top: 32px;
  }

  .footer__about-company-wrapper {
    justify-content: start;
  }

  .footer__underline {
    margin-bottom: 16px;
  }

  .footer__payment {
    flex-direction: column;
    gap: 16px;
  }
}