.header {
  padding-block: 24px;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  padding-block: 0;
}

@media (width < 815px) {
  .header__container {
    gap: 16px;
  }
}

.header__logo-text {
  width: 160px;
  height: 48px;
  font-family: "Integral", sans-serif;
  font-weight: 700;
  font-size: 32px;
  color: var(--secondary-color);
}

@media (width <= 768px) {
  .header__logo-text {
    padding-top: 7px;
    font-size: 25px;
  }
}

@media (width <= 768px) {
  .header__menu {
    position: fixed;
    top: 0;
    left: -100vw;
    bottom: 0;
    z-index: var(--layer-2);
    min-width: 250px;
    padding-top: 145px;
    padding-left: 15px;
    background-color: var(--main-color);
    box-shadow: -2px 0 20px #181817;
    opacity: 0;
    visibility: hidden;
    transition: left var(--transition-time), opacity var(--transition-time), visibility var(--transition-time);
  }

  .header__menu--open {
    left: 0;
    opacity: 1;
    visibility: visible;
  }

  .header__menu .menu__list {
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
  }
}

.header__search-action-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.header__search-container {
  position: relative;
}

.header__search-svg {
  position: absolute;
  top: 20%;
  left: 16px;
}

.header__search {
  text-align: left;
  background: var(--bg-color);
  border: 0;
  border-radius: 62px;
  padding: 12px 0 14px 52px;
  /* min-width 1050px, max-width 1250px */
  width: clamp(50px, -132.063rem + 206vw, 462px);
}

@media (width > 1050px) {
  .header__search-svg {
    fill-opacity: 0.4;
  }
}

@media (width <= 1050px) {
  .header__search-svg {
    fill: var(--secondary-color);
  }

  .header__search {
    visibility: hidden;
  }

  .header__search-action-container,
  .header__actions {
    gap: 2px;
  }
}

.header__actions {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 12px;
  gap: 14px;
}
