.new-arrivals__container {
  display: flex;
  flex-direction: column;
}

.new-arrivals__wrapper {
  margin-bottom: 36px;
}

.new-arrivals__title {
  font-family: "Integral", sans-serif;
  font-weight: 900;
  font-size: 48px;
  text-align: center;
  color: var(--secondary-color);
  margin-bottom: 55px;
}

.new-arrivals__list {
  display: flex;
  justify-content: space-between;
}

.new-arrival__img {
  margin-bottom: 16px;
}

.new-arrivals__inner {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 8px;
}

.new-arrivals__rating {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 13px;
}

.new-arrivals__price {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.new-arrivals__subtitle {
  font-weight: 700;
  font-size: 20px;
  color: var(--secondary-color);
}

.new-arrivals__grade {
  font-weight: 400;
  font-size: 14px;
  color: var(--secondary-color);
}

.new-arrivals__item:first-child .new-arrivals__price {
  font-weight: 700;
  font-size: 20px;
}

.new-arrivals__price {
  color: var(--secondary-color);
  font-weight: 700;
  font-size: 24px;
}

.new-arrivals__item:nth-child(2) .new-arrivals__old-price,
.new-arrivals__item:last-child .new-arrivals__old-price {
  font-weight: 700;
  font-size: 24px;
  text-decoration: line-through;
  color: rgba(0, 0, 0, 0.4);
}

.new-arrivals__item:nth-child(2) .new-arrivals__discount,
.new-arrivals__item:last-child .new-arrivals__discount {
  font-weight: 500;
  font-size: 12px;
  color: #f33;
  border-radius: 62px;
  padding: 6px 14px;
  width: 58px;
  height: 28px;
  background: rgba(255, 51, 51, 0.1);
}

.new-arrivals__item:nth-child(1) .new-arrivals__stars {
  clip-path: inset(0% 8% 0% 0%);
}

.new-arrivals__item:nth-child(1) .new-arrivals__grade {
  margin-left: -8px;
}

.new-arrivals__item:nth-child(2) .new-arrivals__stars {
  clip-path: inset(0% 30% 0% 0%);
}

.new-arrivals__item:nth-child(2) .new-arrivals__grade {
  margin-left: -32px;
}

.new-arrivals__item:nth-child(3) .new-arrivals__stars {
  clip-path: inset(0% 40% 0% 0%);
}

.new-arrivals__item:nth-child(3) .new-arrivals__grade {
  margin-left: -46px;
}

.new-arrivals__item:nth-child(4) .new-arrivals__stars {
  clip-path: inset(0% 8% 0% 0%);
}

.new-arrivals__item:nth-child(4) .new-arrivals__grade {
  margin-left: -8px;
}

@media (width <= 1300px) {
  .new-arrivals__list {
    gap: 10px;
    margin-bottom: 27px;
  }
}

@media (width <= 1300px) {
  .new-arrivals__item:nth-child(4) {
    display: none;
  }
}

@media (width <= 1100px) {
  .new-arrivals__item:nth-child(3) {
    display: none;
  }
}

.new-arrivals__button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.new-arrivals__button {
  font-weight: 500;
  font-size: 16px;
  color: var(--secondary-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 62px;
  padding: 15px 45px;
  width: 218px;
  margin-bottom: 64px;
}

.new-arrivals__border {
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 0px;
  margin-bottom: 64px;
}


@media (width <= 768px) {
  .new-arrivals__wrapper {
    margin-bottom: 27px;
  }

  .new-arrivals__title {
    font-size: 27px;
  }

  .new-arrivals__img {
    width: 174px;
    height: 200px;
  }

  .new-arrivals__subtitle {
    font-size: 15px;
  }

  .new-arrivals__stars {
    width: 87px;
    height: 16px;
  }

  .new-arrivals__grade {
    font-size: 12px;
  }

  .new-arrivals__price {
    font-size: 18px;
  }

  .new-arrivals__item:nth-child(2) .new-arrivals__old-price,
  .new-arrivals__item:last-child .new-arrivals__old-price {
    font-size: 18px;
  }

  .new-arrivals__item:nth-child(2) .new-arrivals__discount,
  .new-arrivals__item:last-child .new-arrivals__discount {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 20px;
    font-size: 10px;
  }

  .new-arrivals__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 358px;
    height: 46px;
  }
}
