.sales-leaders__container {
  display: flex;
  flex-direction: column;
  padding-block: 0;
  margin-bottom: 80px;
}

.sales-leaders__wrapper {
  margin-bottom: 36px;
}

.sales-leaders__title {
  font-family: "Integral", sans-serif;
  font-weight: 900;
  font-size: 48px;
  text-align: center;
  color: var(--secondary-color);
  margin-bottom: 55px;
}

.sales-leaders__list {
  display: flex;
  justify-content: space-between;
}

.sales-leaders__img {
  margin-bottom: 16px;
}

.sales-leaders__inner {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 8px;
}

.sales-leaders__rating {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 13px;
  margin-bottom: 11px;
}

.sales-leaders__price {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.sales-leaders__subtitle {
  font-weight: 700;
  font-size: 20px;
  color: var(--secondary-color);
}

.sales-leaders__grade {
  font-weight: 400;
  font-size: 14px;
  color: var(--secondary-color);
}

.sales-leaders__item:nth-child(2) .sales-leaders__price {
  font-weight: 700;
  font-size: 20px;
}

.sales-leaders__price {
  color: var(--secondary-color);
  font-weight: 700;
  font-size: 24px;
}

.sales-leaders__item:first-child .sales-leaders__old-price {
  font-weight: 700;
  font-size: 24px;
  text-decoration: line-through;
  color: rgba(0, 0, 0, 0.4);
}

.sales-leaders__item:first-child .sales-leaders__discount {
  font-weight: 500;
  font-size: 12px;
  color: #f33;
  border-radius: 62px;
  padding: 6px 14px;
  width: 58px;
  height: 28px;
  background: rgba(255, 51, 51, 0.1);
}

.sales-leaders__item:nth-child(2) .sales-leaders__stars {
  clip-path: inset(0% 20% 0% 0%);
}

.sales-leaders__item:nth-child(2) .sales-leaders__grade {
  margin-left: -23px;
}

.sales-leaders__item:nth-child(3) .sales-leaders__stars {
  clip-path: inset(0% 40% 0% 0%);
}

.sales-leaders__item:nth-child(3) .sales-leaders__grade {
  margin-left: -46px;
}

.sales-leaders__item:nth-child(4) .sales-leaders__stars {
  clip-path: inset(0% 8% 0% 0%);
}

.sales-leaders__item:nth-child(4) .sales-leaders__grade {
  margin-left: -8px;
}

@media (width <= 1300px) {
  .sales-leaders__list {
    gap: 10px;
    margin-bottom: 27px;
  }
}

@media (width <= 1300px) {
  .sales-leaders__item:nth-child(4) {
    display: none;
  }
}

@media (width <= 1100px) {
  .sales-leaders__item:nth-child(3) {
    display: none;
  }
}

.sales-leaders__button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sales-leaders__button {
  font-weight: 500;
  font-size: 16px;
  color: var(--secondary-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 62px;
  padding: 15px 45px;
  width: 218px;
}

@media (width <= 768px) {
  .sales-leaders__wrapper {
    margin-bottom: 27px;
  }

  .sales-leaders__title {
    font-size: 30px;
  }

  .sales-leaders__img {
    width: 174px;
    height: 200px;
  }

  .sales-leaders__subtitle {
    font-size: 15px;
  }

  .sales-leaders__stars {
    width: 87px;
    height: 16px;
  }

  .sales-leaders__grade {
    font-size: 12px;
  }

  .sales-leaders__price,
  .sales-leaders__item:nth-child(2) .sales-leaders__price {
    font-size: 18px;
  }

  .sales-leaders__item:first-child .sales-leaders__old-price {
    font-size: 18px;
  }

  .sales-leaders__item:first-child .sales-leaders__discount {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 20px;
    font-size: 10px;
  }

  .sales-leaders__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 358px;
    height: 46px;
  }
}
