:root {
  /* font-family */
  --font-family: "Satoshi", sans-serif;

  /* colors */
  --main-color: #fff;
  --secondary-color: #000;
  --bg-color: #f0f0f0;
  --bg-cloth-color: #f0eeed;
  --accent-color: #9e2b23;

  /* container */
  --container-width: 1240px;
  --container-full-width: 100%;
  --container-padding: 16px;

  /* transition */
  --transition-time: 0.2s;

  /* layers */
  --layer-0: 0;
  --layer-1: 1;
  --layer-2: 2;
  --layer-3: 3;
}