hrml {
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
}


.container {
  max-width: 1320px;
  padding: 15px 15px;
  margin: 0 auto;
}

.header-container {
    display: flex;
    border-bottom: 1px solid #8f8d8d;
    justify-content: space-between;
    flex-wrap: wrap;
}

.black-square {
  width: 50px;
  height: 50px;
  background-color: black;
}

.list {
  padding: 15px;
  margin: 0;
  list-style: none;
}

.list-item {
  display: inline-block;
  padding-left: 15px;
}

a {
  color: black;
}

.phone {
  text-decoration: none;
  padding: 15px;
}