.brands {
  display: flex;
  align-items: center;
  max-width: 100%;
  height: 122px;
  background-color: var(--secondary-color);
  margin-bottom: 72px;
}

.brands__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap:wrap;
  gap: 106px;
}

@media (width <= 1275px) {
  .brands__list {
    gap: clamp(1.875rem, -20.591rem + 34.23vw, 6.625rem);
  }
}

@media (width <= 510px) {
   .brands__item-svg {
    width: 117px;
    height: 23px;
  }

  .brands__list {
    justify-content:space-evenly;
    gap: 4px;
  }
}