.reviews {
  margin-bottom: 170px;
  overflow-x: hidden;
}

.reviews--blur {
  position: relative;
}

.reviews--blur::before,
.reviews--blur::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 315px;
  z-index: 1;
}

.reviews--blur::before {
  left: 0;
  backdrop-filter: blur(2px);
}

.reviews--blur::after {
  right: 0;
  backdrop-filter: blur(2px);
}

.reviews__container {
  display: flex;
  justify-content: space-between;
}

.reviews__arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.reviews__arrow-wrapper:last-child .reviews__arrow-img {
  transform: scaleX(-1);
}

.reviews__slider {
  width: calc(5 * 400px + 4 * -80px);
}

.reviews__title {
  margin-bottom: 40px;
  text-align: start;
}

.swiper-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.swiper-slide {
  flex: 0 0 auto;
}

.reviews__slide-inner {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 28px 32px;
  width: 400px;
  height: 240px;
}

.reviews__subtitle {
  position: relative;
  margin-top: 15px;
  margin-bottom: 12px;
  margin-right: 4px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 20px;
  line-height: 110%;
  color: var(--secondary-color);
}

.reviews__subtitle::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  background: url("../../icons/check.svg") no-repeat center / contain;
}

.reviews__text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 138%;
  color: rgba(0, 0, 0, 0.6);
}

@media (width <= 1880px) {
  .swiper-slide:first-child,
  .swiper-slide:nth-child(2),
  .swiper-slide:nth-child(3) {
    display: none;
  }

  .reviews__slider {
    overflow: hidden;
    width: calc(5 * 400px + 4 * -190px);
  }

  .reviews--blur::before,
  .reviews--blur::after {
    position: static;
  }
}

@media (width <= 1275px) {
  .swiper-slide:nth-child(4) {
    display: none;
  }

  .reviews__title {
    font-size: 30px;
    line-height: 120%;
  }
}

@media (width <= 860px) {
  .swiper-slide:nth-child(5) {
    display: none;
  }

  .reviews__slide-img {
    width: 118px;
    height: 19px;
  }

  .reviews__slide-inner {
    padding: 24px;
    width: 358px;
    height: 186px;
  }

  .reviews__subtitle {
    margin-top: 6px;
    margin-bottom: 8px;
    font-size: 16px;
    line-height: 138%;
  }

  .reviews__subtitle::after {
    width: 20px;
    height: 20px;
  }

  .reviews__text {
    font-size: 14px;
    line-height: 143%;
  }
}
