.style__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 40px;
  background: var(--bg-color);
  margin-bottom: 80px;
}

.style__title {
  margin-top: 70px;
}

.style__title br {
  display: none;
}

.style__flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-block: 64px 76px;
}

.style__flex-item {
  position: relative;
  overflow: hidden;
  min-width: 0;
  border-radius: 20px;
  background: var(--main-color);
}

.style__flex-item:nth-child(3) {
  width: 684px;
  height: 289px;
}

.style__flex-item:nth-child(4) {
  width: 407px;
  height: 289px;
}

.style__flex-text {
  position: absolute;
  top: 25px;
  left: 36px;
  font-weight: 700;
  font-size: 36px;
  color: var(--secondary-color);
}

.style__flex-img {
  width: 100%;
  height: auto;
  display: block;
}

@media (width <= 1150px) {
  .style__title {
    font-size: 30px;
    line-height: 120%;
  }

  .style__flex-item:nth-child(1),
  .style__flex-item:nth-child(4) {
    width: clamp(19.375rem, 5.518rem + 27.71vw, 25.438rem);
    height: 190px;
  }

  .style__flex-item:nth-child(2),
  .style__flex-item:nth-child(3) {
    width: clamp(19.375rem, -34.054rem + 106.86vw, 42.75rem);
    height: 190px;
  }

  .style__flex-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  .style__flex-text {
    font-size: 24px;
  }
}

@media (width < 672px) {
  .style__flex-img {
    filter: blur(2px);
  }

  .style__flex-text {
    z-index: 1;
  }
}

@media (width < 410px) {
  .style__title br {
      display: block;
    }
}
