* {
    box-sizing: border-box;
}

h1 {
    font-size: 25px;
}

.block {
    display: inline-block;
    border-radius: 20px;
    background: #b9a379;
    margin: 10px;
    padding: 10px 15px 15px 15px;
    width: 230px;
    height: 180px;
}

.main-block {
    overflow: auto;
    background-color: rgb(251, 230, 225);
    height: 500px;
    border: 1px solid black;
    border-radius: 20px 0 0 20px;
}